.loader-blob-4-dot {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid var(--primary-bg);
  box-sizing: border-box;
  background: radial-gradient(farthest-side, var(--font-color) 98%, transparent)
      top,
    radial-gradient(farthest-side, var(--font-color) 98%, transparent) top,
    radial-gradient(farthest-side, var(--font-color) 98%, transparent) left,
    radial-gradient(farthest-side, var(--font-color) 98%, transparent) right,
    radial-gradient(farthest-side, var(--font-color) 98%, transparent) bottom,
    var(--primary-bg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(15);
  animation: l19 2s infinite;
}

@keyframes l19 {
  0% {
    background-position: top, top, left, right, bottom;
  }
  25% {
    background-position: right, top, left, right, bottom;
  }
  50% {
    background-position: bottom, top, left, right, bottom;
  }
  75% {
    background-position: left, top, left, right, bottom;
  }
  100% {
    background-position: top, top, left, right, bottom;
  }
}
